<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cardealer/intro.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Mar 2017 14:11:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Car Dealer - The Best Car Dealer Automotive Responsive HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Welcome to Car Dealer - The Best Car Dealer Automotive Responsive HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- plugins -->
    <link href="assets/css/fontawesome.min.css" rel="stylesheet" type="text/css" />

    <!-- mega menu -->
    <link href="assets/css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

    <!-- main style -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />


</head>

<body>


<!--=================================
  loading -->

<div id="loading">
    <div id="loading-center">
        <img src="assets/images/loader.gif" alt="">
    </div>
</div>

<!--=================================
  loading -->


<!--=================================
 header -->

<header id="header" class="defualt">

    <!--=================================
     mega menu -->

    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a  href="intro.html"><img id="logo_img" src="assets/images/logo-light.png" alt="logo"> </a>

                                    <!-- changer href=index en intro et enlever target=_blank-->










                                </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->
                                <li><a href="javascript:void(0)"> Home <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down multilevel  -->
                                    <ul class="drop-down-multilevel">
                                        <li><a target="_blank" href="index.html">Home 1</a></li>
                                        <li><a target="_blank" href="index-2.html">Home 2</a></li>
                                        <li><a target="_blank" href="index-3.html">Home 3</a></li>
                                        <li><a target="_blank" href="index-4.html">Home 4</a></li>
                                        <li><a target="_blank" href="index-5.html">Home 5</a></li>
                                        <li><a target="_blank" href="index-6.html">Home 6</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down full width -->
                                    <div class="drop-down menu-bg grid-col-12">
                                        <!--grid row-->
                                        <div class="grid-row">
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a target="_blank" href="about-01.html">About 01</a></li>
                                                    <li><a target="_blank" href="about-02.html">About 02</a></li>
                                                    <li><a target="_blank" href="service-01.html">service 01</a></li>
                                                    <li><a target="_blank" href="service-02.html">service 02</a></li>
                                                    <li><a target="_blank" href="career.html">career</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a target="_blank" href="team-01.html">team 01</a></li>
                                                    <li><a target="_blank" href="team-02.html">team 02</a></li>
                                                    <li><a target="_blank" href="contact-01.html">contact 01</a></li>
                                                    <li><a target="_blank" href="contact-02.html">contact 02</a></li>
                                                    <li><a target="_blank" href="faq.html">faq</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a target="_blank" href="login.html">login</a></li>
                                                    <li><a target="_blank" href="register.html">register</a></li>
                                                    <li><a target="_blank" href="error-404.html">error 404</a></li>
                                                    <li><a target="_blank" href="coming-soon.html">coming soon</a></li>
                                                    <li><a target="_blank" href="typography.html">typography</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a target="_blank" href="page-left-sidebar.html">page left sidebar </a></li>
                                                    <li><a target="_blank" href="page-right-sidebar.html">page right sidebar </a></li>
                                                    <li><a target="_blank" href="page-both-sidebar.html">page both sidebar </a></li>
                                                    <li><a target="_blank" href="terms-and-conditions.html">terms and conditions </a></li>
                                                    <li><a target="_blank" href="privacy-policy.html">privacy policy </a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li><a href="javascript:void(0)">blog <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down multilevel  -->
                                    <ul class="drop-down-multilevel">
                                        <li><a href="javascript:void(0)">blog classic <i class="fa fa-angle-right fa-indicator"></i> </a>
                                            <!-- drop down second level -->
                                            <ul class="drop-down-multilevel">
                                                <li><a target="_blank" href="blog-left-sidebar.html">left sidebar</a></li>
                                                <li><a target="_blank" href="blog-right-sidebar.html">right sidebar</a></li>
                                                <li><a target="_blank" href="blog-fullwidth.html">fullwidth</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Masonry  <i class="fa fa-angle-right fa-indicator"></i> </a>
                                            <!-- drop down second level -->
                                            <ul class="drop-down-multilevel">
                                                <li><a target="_blank" href="blog-masonry-2-collums.html"> 2 column </a> </li>
                                                <li><a target="_blank" href="blog-masonry-3-collums.html"> 3 column </a> </li>
                                                <li><a target="_blank" href="blog-masonry-4-collums.html"> 4 column </a> </li>
                                                <li><a target="_blank" href="blog-masonry-left-sidebar.html">left sidebar</a></li>
                                                <li><a target="_blank" href="blog-masonry-right-sidebar.html">right sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">blog single <i class="fa fa-angle-right fa-indicator"></i> </a>
                                            <!-- drop down second level -->
                                            <ul class="drop-down-multilevel">
                                                <li><a target="_blank" href="blog-single-01.html">blog single 01 </a> </li>
                                                <li><a target="_blank" href="blog-single-02.html">blog single 02 </a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Car listing  <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down multilevel  -->
                                    <ul class="drop-down-multilevel">
                                        <li><a target="_blank" href="listing-01.html">listing 01</a></li>
                                        <li><a target="_blank" href="listing-02.html">listing 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Car details  <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down multilevel  -->
                                    <ul class="drop-down-multilevel">
                                        <li><a target="_blank" href="details-01.html">details 01</a></li>
                                        <li><a target="_blank" href="details-02.html">details 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down multilevel  -->
                                    <ul class="drop-down-multilevel right-menu">
                                        <li><a target="_blank" href="contact-01.html">contact 01</a></li>
                                        <li><a target="_blank" href="contact-02.html">contact 02</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>

<!--=================================
 header -->


<!--=================================
slider -->

<section class="main-bg">
    <div class="main-intro">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="welcome">- Welcome To -</span>
                        <h1><span class="text-blue">Car Dealer</span> The Best Car Dealer Automotive Responsive HTML5 Template</h1>
                        <p>Bootstrap based Powerful Responsive HTML5 Template with 6 stunning home pages<br> The fastest and easiest way to start new projects and startups</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
 slider -->


<!--=================================
multi-page -->

<section class="white-bg portfolio-main objects-car page-section-ptb" id="scroll-buttons">
    <div class="objects-left"><img class="img-responsive" src="assets/images/02.png" alt=""></div>
    <div class="objects-right"><img class="img-responsive" src="assets/images/01.png" alt=""></div>
    <div class="container">
        <div class="portfolio">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="item demo-1">
                        <img class="img-responsive" src="assets/images/address-bar.jpg" alt="">
                        <a target="_blank" href="index.html">
                            <div class="item-box">
                                <div class="item-inside">
                                    <img class="lazy" src="assets/images/demo/loading.jpg" data-original="assets/images/demo/home-1.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a target="_blank" class="link" href="index.html">layout 01 </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item demo-2">
                        <img class="img-responsive" src="assets/images/address-bar.jpg" alt="">
                        <a target="_blank" href="index-2.html">
                            <div class="item-box">
                                <div class="item-inside">
                                    <img class="lazy" src="assets/images/demo/loading.jpg" data-original="assets/images/demo/home-2.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a target="_blank" class="link" href="index-2.html">layout 02</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item demo-3">
                        <img class="img-responsive" src="assets/images/address-bar.jpg" alt="">
                        <a target="_blank" href="index-3.html">
                            <div class="item-box">
                                <div class="item-inside">
                                    <img class="lazy" src="assets/images/demo/loading.jpg" data-original="assets/images/demo/home-3.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a target="_blank" class="link" href="index-3.html">layout 03</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item demo-4">
                        <img class="img-responsive" src="assets/images/address-bar.jpg" alt="">
                        <a target="_blank" href="index-4.html">
                            <div class="item-box">
                                <div class="item-inside">
                                    <img class="lazy" src="assets/images/demo/loading.jpg" data-original="assets/images/demo/home-4.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a target="_blank" class="link" href="index-4.html">layout 04</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item demo-5">
                        <img class="img-responsive" src="assets/images/address-bar.jpg" alt="">
                        <a target="_blank" href="index-5.html">
                            <div class="item-box">
                                <div class="item-inside">
                                    <img class="lazy" src="assets/images/demo/loading.jpg" data-original="assets/images/demo/home-5.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a target="_blank" class="link" href="index-5.html">layout 05</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item demo-6">
                        <img class="img-responsive" src="assets/images/address-bar.jpg" alt="">
                        <a target="_blank" href="index-6.html">
                            <div class="item-box">
                                <div class="item-inside">
                                    <img class="lazy" src="assets/images/demo/loading.jpg" data-original="assets/images/demo/home-6.jpg" alt="">
                                </div>
                            </div>
                        </a>
                        <a target="_blank" class="link" href="index-6.html">layout 06</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <a class="button" href="https://themeforest.net/item/car-dealer-the-best-car-dealer-automotive-responsive-html5-template/19226545">purchase now</a>
            </div>
        </div>
    </div>
</section>

<!--=================================
 multi-page -->


<!--=================================
one-page -->



<!--=================================
 one-page -->


<!--=================================
feature-->

<section class="main-feature gray-bg page-section-ptb">

    <div class="container">
        <div class="row section-title text-center">
            <div class="col-lg-12 col-md-12">
                <h3> Our Core features</h3>
                <p>We decided to make a quick list of the main features, check out the pages to see the features in action!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-tasks"></i> <span>Revolution slider included </span> </h5>
                    <p>Includes revolution slider jquery plugin worth <b>$14</b> which will make your website more impactful.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-bars" aria-hidden="true"></i> <span> Responsive Mega Drop Down Menu </span></h5>
                    <p>Horizontal, vertical left, vertical right, 6 drop down animations, multilevel drop down and much more...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-eye" aria-hidden="true"></i> <span>Fully Responsive & retina ready </span></h5>
                    <p>Car Dealer automatically resize to fit the different screen size and make it look great on all device. </p>
                </div>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-life-ring" aria-hidden="true"></i> <span>Support all major Browsers </span></h5>
                    <p>Car Dealer support all major browsers like Google Chrome, Mozilla Firefox, Safari, Opera, Internet Explorer 9 and Above.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-file-code-o" aria-hidden="true"></i> <span>Well organized & customized code </span></h5>
                    <p>We have built Car Dealer to be the ultimate HTML5 template with clean, clear, commented and customizable code.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-th" aria-hidden="true"></i>  <span> Home layouts options </span></h5>
                    <p>Car Dealer has more 6 stunning home page layouts options to choose from. Change as per your requirement. </p>
                </div>
            </div>
        </div>

        <div class="row mt-60">
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-file-video-o" aria-hidden="true"></i> <span>blog layout options </span></h5>
                    <p>Each story needs a beautiful design. modern and unique blog layouts including classic and masonary that you can place anywhere</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-file-text-o" aria-hidden="true"></i>  <span> Detailed documentation </span></h5>
                    <p>Car Dealer Documentation has been carefully detailed and completed with super easy to understand instructions giving you the full access to all of its features.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="feature">
                    <h5><i class="fa fa-sliders" aria-hidden="true"></i> <span> Ultimate customizability  </span></h5>
                    <p>Choose the right color, layout, background pattern and background image with our theme customizer module.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
feature-->


<!--=================================
documentation-->

<section class="documentation blue-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <img class="img-responsive" src="assets/images/doc-2.png">
            </div>
            <div class="col-lg-7 col-md-7">
                <h3 class="text-white mb-40 mt-10">High Quality Documentation</h3>
                <p class="text-white">Car Dealer Documentation has been carefully detailed and completed with super easy to understand instructions giving you the full access to all of its features. Our Documentation will give you an understanding of how Car Dealer is structured and guide you in performing common functions.</p>
                <p class="text-white mb-0">Documentation also comes with a lot of code structure to help you. If the documentation is not enough contact us on our <a href="https://potezasupport.ticksy.com/" target="_blank"> support forum.</a></p>
            </div>
        </div>
    </div>
</section>

<!--=================================
documentation-->

<!--=================================
Footer-->

<footer class="footer page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="footer-widget text-center">
                    <span class="text-white">Get Car Dealer Template Now!</span>
                    <p>All live demo pages are included in the download package with Car Dealer Documentation</p>
                    <a target="_blank" class="button" href="https://themeforest.net/item/car-dealer-the-best-car-dealer-automotive-responsive-html5-template/19226545"> Purchase now</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--=================================
Footer-->

<!--=================================
back to top -->

<div class="car-top">
    <span><img src="assets/images/car.png" alt=""></span>
</div>

<!--=================================
back to top -->


<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="assets/js/plugins-jquery.js"></script>

<!-- mega menu -->
<script type="text/javascript" src="assets/js/mega-menu/mega_menu.js"></script>

<!-- lazyload -->
<script type="text/javascript" src="assets/js/jquery.lazyload.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="assets/js/custom.js"></script>

<script type="text/javascript">
    $(function() {
        $("img.lazy").lazyload({
            event : "sporty"
        });
    });

    $(window).bind("load", function() {
        var timeout = setTimeout(function() {
            $("img.lazy").trigger("sporty")
        }, 100);
    });
</script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cardealer/intro.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Mar 2017 14:11:14 GMT -->
</html>